<div class="wrapper">
    <div class="app-wrapper">
        <!--Wallet-->
        <aside class="wallet">
            <h2>Synthèse cartes</h2>
            <div class="modal-control">+</div>
            <div class="cards">
                <div class="credit-card visa active">
                    <div class="card-image"></div>
                    <div class="credit-card_number">**** **** **** 2562</div>
                    <div class="credit-card_expiration">Valid Thru:12/17</div>
                </div>
                <div class="credit-card amex">
                    <div class="card-image"></div>
                    <div class="credit-card_number">**** ****** 21001</div>
                    <div class="credit-card_expiration">Valid Thru:07/19</div>
                </div>
                <div class="credit-card mc">
                    <div class="card-image"></div>
                    <div class="credit-card_number">**** **** **** 8335</div>
                    <div class="credit-card_expiration">Valid Thru:09/17</div>
                </div>
            </div>
        </aside>

        <content class="transactions-wrapper">
            <h2>
                Détails carte
            </h2>
            <div class="information-card">
                Nom et n° carte: <br />
                N° Compte: <br />
                Statut: <br />
                Fin validité<br />
                Actions: <br />
            </div>
            <div class="transactions show">
                <div class="transaction-item debit">
                    <div class="transaction-item_details">
                        <h3>Apple iPhone 6, 6g GB</h3><span class="details">Electronics #343223 - 12 July, 2016</span>
                    </div>
                    <div class="transaction-item_amount"><span>$</span>
                        <p class="amount">+650.00</p>
                    </div>
                </div>
                <div class="transaction-item credit">
                    <div class="transaction-item_details">
                        <h3>Funds Added</h3><span class="details">Payment #343212 - 11 July, 2016</span>
                    </div>
                    <div class="transaction-item_amount"><span>$</span>
                        <p class="amount">-900.00</p>
                    </div>
                </div>
                <div class="transaction-item debit">
                    <div class="transaction-item_details">
                        <h3>Energy Bill</h3><span class="details"> #343566 - 11 July, 2016</span>
                    </div>
                    <div class="transaction-item_amount"><span>$</span>
                        <p class="amount">+84.96</p>
                    </div>
                </div>
                <div class="transaction-item debit">
                    <div class="transaction-item_details">
                        <h3>Mega Image SRL</h3><span class="details">Food&amp;Health #343565 - 11 July, 2016</span>
                    </div>
                    <div class="transaction-item_amount"><span>$</span>
                        <p class="amount">+112.75</p>
                    </div>
                </div>
                <div class="transaction-item debit">
                    <div class="transaction-item_details">
                        <h3>ATM DV24</h3><span class="details"> #343253 - 09 July, 2016</span>
                    </div>
                    <div class="transaction-item_amount"><span>$</span>
                        <p class="amount">+200.00</p>
                    </div>
                </div>
                <div class="transaction-item debit">
                    <div class="transaction-item_details">
                        <h3>Lukoil Station</h3><span class="details">Gas #343279 - 09 July, 2016</span>
                    </div>
                    <div class="transaction-item_amount"><span>$</span>
                        <p class="amount">+190.48</p>
                    </div>
                </div>
                <div class="transaction-item credit">
                    <div class="transaction-item_details">
                        <h3>Funds Added</h3><span class="details">Payment #343212 - 11 July, 2016</span>
                    </div>
                    <div class="transaction-item_amount"><span>$</span>
                        <p class="amount">+390.81</p>
                    </div>
                </div>
            </div>
        </content>
    </div>
</div>
<div class="modal">
    <div class="modal-body">
        <h3>Add New Card</h3>
        <div class="modal-close">+</div>
        <div class="card-list">
            <div class="card-image visa"></div>
            <div class="card-image amex"></div>
            <div class="card-image mc"></div>
        </div>
    </div>
</div>