<div >
  <ul id="keyboard" class="ml-5">
      <li (click)="type('1')" class="letter">1</li>
      <li (click)="type('2')" class="letter">2</li>
      <li (click)="type('3')" class="letter">3</li>
      <li (click)="type('4')" class="letter clearl">4</li>
      <li (click)="type('5')" class="letter">5</li>
      <li (click)="type('6')" class="letter">6</li>
      <li (click)="type('7')" class="letter clearl">7</li>
      <li (click)="type('8')" class="letter ">8</li>
      <li (click)="type('9')" class="letter">9</li>
      <li  class="letter clearl"><</li>
      <li (click)="type('0')" class="letter">0</li>
      <li  class="letter">Res</li>
  </ul>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.'4'.2/jquery.min.js"></script>

