<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modification d'un Client :</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css.css" th:href="@{/css/normalize.css}" />
    <link rel="stylesheet" type="text/css" href="/css/mod-styles.css" th:href="@{/css/mod-styles.css}" />
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
    <body>

        <section class="main container" style="margin-bottom: 30px;">
            <div class="contenant" style="width: 400px; height: 600px;">
                <h3 style="margin-top: 20px;">Modification d'un Client :</h3>
                <form th:action="@{/updateClient/{id}(id=${customer.getId()})}" method="post">
                    <div class="form-group row">
                        <label class="col-6  frmlabel"><span>Nom  :</span></label>
                        <div class="col-6">
                            <input type="text" class="form-control" th:field="${customer.lastName}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-6  frmlabel"><span>Prénom :</span></label>
                        <div class="col-6">
                            <input type="text" class="form-control" th:field="${customer.firstName}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-6  frmlabel"><span>Genre :</span></label>
                        <div class="col-6">
                            <select type="text" class="form-control" th:field="${customer.gender}">
                                <option th:value="M">M</option>
                                <option th:value="Mlle">Mlle</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-6  frmlabel"><span>Cin :</span></label>
                        <div class="col-6">
                            <input type="text" class="form-control" th:field="${customer.cin}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-6  frmlabel"><span>Date de naissance :</span></label>
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="yyyy-mm-dd" th:field="${customer.birthDay}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-6  frmlabel"><span>N° de Téléphone :</span></label>
                        <div class="col-6">
                            <input type="number" class="form-control" th:field="${customer.phoneNumber}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-6  frmlabel"><span>Opérateur :</span></label>
                        <div class="col-6">
                            <input type="text" class="form-control" th:field="${customer.operator}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-6  frmlabel"><span>Email :</span></label>
                        <div class="col-6">
                            <input type="text" class="form-control" th:field="${customer.email}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-6  frmlabel"><span>L'adresse :</span></label>
                        <div class="col-6">
                            <input type="text" class="form-control" th:field="${customer.address}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-6  frmlabel"><span>Compte courant :</span></label>
                        <div class="col-6">
                            <input type="text" class="form-control" th:field="${customer.currentAccountNum}" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-6  frmlabel"><span>Compte Epargne :</span></label>
                        <div class="col-6">
                            <input type="text" class="form-control" value="Compte Epargne" th:field="${customer.savingsAccountNum}" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-6  frmlabel"><span>Contrat :</span></label>
                        <div class="col-6">
                            <select type="text" class="form-control" th:field="${customer.contract}">
                                <option  th:each="contract: ${contracts}" th:value="${contract.getName()}" th:text="${contract.getName()}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-6  frmlabel"><span>Status :</span></label>
                        <div class="col-6">
                            <select type="text" class="form-control" th:field="${customer.status}">
                                <option  th:each="statu: ${status}" th:value="${statu.getName()}" th:text="${statu.getName()}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-6  frmlabel"><span>Date de l'ajout :</span></label>
                        <div class="col-6">
                            <input type="text" class="form-control" th:field="${customer.creationDate}" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-6  frmlabel"><span>Agence :</span></label>
                        <div class="col-6">
                            <select type="text" class="form-control" th:field="${customer.agencyId}">
                                <option  th:each="agency: ${agencies}" th:value="${agency.getId()}" th:text="${agency.getName()}"></option>
                            </select>
                        </div>
                    </div>

                    <a class="btn btn-secondary" th:href="@{/list_clients}">Retour</a>
                    <button type="submit" class="btn btn-primary" style="margin-left: 200px;">Sauvegarder</button>
            </form>
            </div>
                <div> </div>
        </section>
    </body>
</html>
