<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Visualiser une Agence</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css.css" th:href="@{/css/normalize.css}" />
    <link rel="stylesheet" type="text/css" href="/css/vis-styles.css" th:href="@{/css/vis-styles.css}" />
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
    <body>

        <div class="main container d-flex justify-content-center">
                    <div class="contenant" style="width: 400px; height: 600px;">
                        <h3 style="margin-top: 60px;">Détail d'un Agent :</h3>
                        <br>
                        <div class="row">
                            <label class="col-6 fldlabel"><span>Nom & Prénom :</span></label>
                            <div class="col-6" th:text="${officer.getLastName()} +' '+ ${officer.getFirstName()}"></div>
                        </div>
                        <div class="row">
                            <label class="col-6 fldlabel"><span>Genre :</span></label>
                            <div class="col-6" th:text="${officer.getGender()}"> </div>
                        </div>
                        <div class="row">
                            <label class="col-6 fldlabel"><span>Cin :</span></label>
                            <div class="col-6" th:text="${officer.getCin()}"></div>
                        </div>
                        <div class="row">
                            <label class="col-6 fldlabel"><span>Date de naissance :</span></label>
                            <div class="col-6" th:text="${officer.getBirthDay()}"></div>
                        </div>
                        <div class=" row">
                            <label class="col-6  fldlabel"><span>N° Téléphone</span></label>
                            <div class="col-6" th:text="${officer.getPhoneNumber()}"></div>
                        </div>
                        <div class=" row">
                            <label class="col-6  fldlabel"><span>Email </span></label>
                            <div class="col-6" th:text="${officer.getEmail()}"> </div>
                        </div>
                        <div class=" row">
                            <label class="col-6  fldlabel"><span>L'Adresse</span></label>
                            <div class="col-6"  th:text="${officer.getAddress()}"> </div>
                        </div>
                        <div class=" row">
                            <label class="col-6  fldlabel"><span>Agence</span></label>
                            <div class="col-6" th:text="${agencyName}"> </div>
                        </div>
                        <div class=" row">
                            <label class="col-6  fldlabel"><span>Poste dans l'agence :</span></label>
                            <div class="col-6" th:text="${officer.getRole()}"> </div>
                        </div>

                        <br>
                        <a class="btn btn-secondary" th:href="@{/list_agents}">Retour</a>
                    </div>
        </div>
    </body>
</html>
