body {
    margin-top: 3em;
}
.main {
    max-width: 600px;
}

.contenant .row {
    border-bottom: 1px solid #EEE;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contenant .row:last-of-type {
    border-bottom: none;
}

.contenant .fldlabel {
    font-weight: 700;
    display: flex;
    margin: 0;
}

.btn {
    margin-top: 1em;
}
