
@media only screen and (max-width: 500px) {
  .ch2{
    flex:1;

  }
  .ch3{
    flex: 4;

  }

}
.setper{
  border-radius: 15px;
  background: rgb(255, 255, 255);
  margin : 20px;
  box-shadow: 0 4px 5px 0 rgba(89, 89, 124, 0.19), 0 6px 10px 0 rgba(89, 89, 124, 0.19);
  padding: 20px;
  }

.item{
  display: flex;
  width: 100%;

}


.ch2 {
  flex: 20;
  text-align: left;

}
.ch3{
  flex: 5;

}


